@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  src: url("../public/fonts/JosefinSans-Bold.ttf");
}

@media (min-width: 768px) {
  .overlap {
    position: relative;
    top: 20px !important;
    right: -40px;
    z-index: 2;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}


.overlap {
  position: relative;
  top: 250px;
  z-index: 2;
}